<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    .header {
        width: 96vw;
        height: 5vh;
        align-items: on;
        background-color: orange;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Home-dan-Report>a {
        margin: 0 5%;
        color: white;
    }
</style>
<div class="header">
    <h2 style="color: white;"> ShopperId 🛒</h2>
        <a style="color: black;text-decoration: none;" href='/shoper/logout'>LOGOUT</a>
</div>