<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        #main {
            min-height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #menu-box {
            margin-top: 20px;
            border-radius: 50px;
            display: flex;
            justify-content: space-between;
            width: 400px;
            height: 40px;
        }

        #menu-box a {
            color: #fff;
            font-weight: 900;
            text-decoration: none;
            padding: 0 20px;
            transition: all 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: black;
        }

        #menu-box a:first-child{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        #menu-box a:last-child{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #menu-box a:hover {
            color: black;
            background-color: coral;
            transition: all 0.5s;
        }

    </style>
</head>

<body>
    <%- include("components/navbar") %> <br><br>
        <div id="main">
            <h1 style="color: red"> ADA ERROR 🐱‍💻!!!</h1><br>
            <% errors.forEach(err => { %>
            <p style="color: red">
                <%= err.message %>
            </p>
            <% }) %> <br><br>
            <div id="menu-box">
                <a href="/shoper/register">Back 🐱‍🏍</a>
            </div>
        </div>
</body>
</html>