
<center>
    <%- include("components/navbar") %>
        <div> 
            <a style="text-decoration: none; color: rgb(197, 117, 13);">
                <h1>Add product 🐱‍💻</h1>
            </a><br><br>
        <form method="POST" id="form-add">
                    <label>Name :</label><br>
                    <input type="text" name="name" autocomplete="off" placeholder=""><br><br>
                    <label>Description :</label><br>
                    <textarea cols="50" rows="4" type="text" name="description" autocomplete="off" placeholder=""></textarea><br><br>
                    <label>Link IMG :</label><br>
                    <input type="text" name="img" autocomplete="off" placeholder=""><br><br>
                    <label>Stock :</label><br>
                    <input type="number" name="stock" autocomplete="off" placeholder=""><br><br>
                    <label>Price :</label><br>
                    <input type="number" name="price" autocomplete="off" placeholder=""><br><br>
                    <label>Category :</label><br>
                    <select name="CategoryId">
                    <option>-- Select Category --</option>
                    <% for (let i = 0; i < result.length; i++){ %> 
                        <option name="CategoryId" value="<%= result[i].id %>"><%=result[i].name %></option>
                    <% } %> 
                    </select><br><br>
                    <input type="submit" value="Save Product" id="add-button">
                    <br><br>
        </form>
    </div>
</body>
</center>
</html>

